* {
  margin: 0;
}
.about {
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/JD-PALLAS-Website-Partnerships-Background.jpg");
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.hi {
  background-color: #84a9ac;
}
